/dts-v1/;
#include "rk3326-odroid-go.dtsi"

/ {
	model = "Batlexp G350";
	compatible = "batlexp,rk3326-batlexp-g350", "rockchip,rk3326";

	chosen {
		stdout-path = "serial2:115200n8";
	};
};

&internal_display {
	compatible = "elida,kd35t133";
	iovcc-supply = <&vcc_lcd>;
	vdd-supply = <&vcc_lcd>;
};
